/**
 *@Author: hy-zhangb
 *Date: 2018/10/23 10:28
 *@Last Modified by: hy-zhangb
 *@Last Modified time: 2018/10/23 10:28
 *Email: lovewinders@163.com
 *File Path: jointable - style
 *@File Name: style
 *@Description: Description
 */
.hc-left-join-1 {
  fill: #0cf;
}

.hc-left-join-1, .hc-left-join-2 {
  stroke: #0cf;
  stroke-miterlimit: 10;
}

.hc-left-join-2 {
  fill: #fff;
}