{
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "node": true,
        "amd": true
    },
    "extends": ["airbnb/base", "eslint:recommended", "hyfe"],
    "parser": "babel-eslint",
    "globals": {
        "$": true,
        "_data": true,
        "__DEV__"      : false,
        "__PROD__"     : false,
        "__BASENAME__"     : false,
        "__IP__"     : false
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "jsx": true,
            "templateStrings": true,
            "superInFunctions": true,
            "spread": true
        },
        "sourceType": "module"
    },
    "plugins": [
        "react",
        "import",
        "react"
    ],
    "settings": {
        "import/resolver": {
            "webpack": {
                "config": "./build/config/webpack.config.js"
            }
        }
    },
    "ecmaFeatures": {
        "experimentalObjectRestSpread": true,
        "jsx": true,
        "templateStrings": true,
        "superInFunctions": true,
        "spread": true
    },
    "rules": {
        "indent": ["error", 4],
        "linebreak-style": ["error", "unix"],
//        "quotes": ["warn", "single"],
        "semi": ["error", "always"],
//        "no-console": "off",
//        "prefer-template": "off",
//        "consistent-return": "off",
//        "no-param-reassign": "off",
//        "comma-dangle": ["error", "never"],
        "padded-blocks": ["error", {
            "switches": "always",
            "classes": "never",
            "blocks": "always"
        }],
//        "no-underscore-dangle": ["error", {
//            "allow": ["_data", "_result", "_initialState"],
//            "allowAfterThis": true
//        }],
//        "space-infix-ops": ["error", {
//            "int32Hint": false
//        }],
//        "space-before-blocks": ["error"],
//        "no-empty-function": ["error"],
//        "key-spacing": ["error"],
//        "arrow-spacing": ["error"],
//        "quote-props": ["error", "consistent"],
//        "jsx-quotes": ["error", "prefer-single"],
//        "react/jsx-uses-vars": 2,
//        "react/jsx-uses-react": 2,
        "max-len": [2, 120],
        "react/jsx-indent-props": [2, 4],
        "react/forbid-prop-types": [2, {"forbid": ["any"]}]
//        "no-debugger": 2
    }
}