/**
 *@Author: hy-zhangb
 *Date: 2018/10/24 17:24
 *@Last Modified by: hy-zhangb
 *@Last Modified time: 2018/10/24 17:24
 *Email: lovewinders@163.com
 *File Path: jointable - style
 *@File Name: style
 *@Description: Description
 */
.hc-inner-join-1 {
  fill: #fff;
  stroke: #0cf;
  stroke-miterlimit: 10;
}

.hc-inner-join-2 {
  fill: #0cf;
}