/**
 *@Author: hy-zhangb
 *Date: 2018/10/23 17:10
 *@Last Modified by: hy-zhangb
 *@Last Modified time: 2018/10/23 17:10
 *Email: lovewinders@163.com
 *File Path: jointable - style
 *@File Name: style
 *@Description: Description
 */
.hc-warn-join-1 {
  fill: #fff;
  stroke: #0cf;
  stroke-miterlimit:10;
  stroke-dasharray:3.02 3.02;
}
.hc-warn-join-2{
  fill:red;
}