/**
 *@Author: hy-zhangb
 *Date: 2018/10/19 14:10
 *@Last Modified by: hy-zhangb
 *@Last Modified time: 2018/10/19 14:10
 *Email: lovewinders@163.com
 *File Path: jointable - style
 *@File Name: style
 *@Description: Description
 */
.hm-union-add {
  width: 175px;
  height: 30px;
  line-height: 30px;
  margin: 0 auto;
  color: #FF9C01;
  border: 1px solid #FF9C01;
  border-top-color: transparent;
  font-size: 12px;
  background-color: #FCFCFC;
  text-align: center;
}